<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysUserApproleApplicationMapper">
    <delete id="deleteUserRoleApplication">
        delete from sys_user_approle_application
        where approle_id = #{roleId}
          and application_id = #{applicationid}
          and user_id =#{userid}
    </delete>
    <select id="queryUserByAppRoleAndApplication"  parameterType="String" resultType="org.jeecg.modules.system.entity.SysUser">
        select
            su.*
        from
            (select
                 sura.*
             from
                 sys_user_approle_application sura
             WHERE
                 sura.application_id = #{applicationId} and sura.approle_id = #{appRoleId}
            ) s
                JOIN
            sys_user su
            on
                s.user_id = su.id;
    </select>
</mapper>