<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.message.mapper.SysMessageMapper">

    <select id="findSysMessageLike"
            resultType="org.jeecg.modules.message.entity.SysMessage">
        SELECT * FROM sys_sms
        <where>
            <if test="sysMessage.esReceiver != null">
                <bind name="esReceiverPattern" value="'%' + sysMessage.esReceiver + '%'" />
                es_receiver like #{esReceiverPattern}
            </if>
            <if test="sysMessage.esContent != null">
                <bind name="esContentPattern" value="'%' + sysMessage.esContent + '%'" />
                AND es_content like #{esContentPattern}
            </if>
            <if test="sysMessage.esTitle != null">
                <bind name="esTitlePattern" value="'%' + sysMessage.esTitle + '%'" />
                AND es_title like #{esTitlePattern}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>